<div class="wrapper">

    <div class="left">


    </div>

    <div class="right">

        <div *ngIf="sessionService.session"
             class="welcome">

            welcome back<br>

            {{ sessionService.session.display_name }}

        </div>


        <div *ngIf="!sessionService.session"
             class="welcome">

            welcome<br>
            please login!

        </div>

        <div *ngIf="sessionService.session"
             class="gravatar">

            <img ngxGravatar
                 [email]="sessionService.session.email">

        </div>

    </div>

</div>
